<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <main>
      <h1>Mi Información</h1>
      <ul>
        <li>Nombre: Anthony</li>
        <li>Apellido: Carrillo</li>
        <li>Cédula: 30.659.229</li>
        <li>Sección: no tengo :p</li>
      </ul>
    </main>

  </body>
</html>
