<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&family=Tilt+Neon&display=swap" rel="stylesheet">
  </head>
  <body>

    <main>
      <hr>
      <h1>Mi Información</h1>
      <ul>
        <li>Nombre: Anthony</li>
        <li>Apellido: Carrillo</li>
        <li>Cédula: 30.659.229</li>
        <li>Sección: no tengo :p</li>
      </ul>
      <hr>
    </main>

  </body>
</html>
